{% extends "main.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/landing.css' | url }}" />
{% endblock %}

{% block content %}
<section class="container landing-section">
  <div class="component-wrapper" style="display: block;">
    <div class="responsive-grid">
      <!-- Get started -->
      <a class="card-wrapper" href="get-started/docker-overview/">
        <div class="card" style="background-image: url({{ 'assets/images/card/rocket.svg' | url }}">
          <div class="card-content">
            <h3>Get started</h3>
            <p>
              Learn Docker basics and the benefits of containerizing your
              applications.
            </p>
          </div>
        </div>
      </a>
      <!-- Download -->
      <a class="card-wrapper" href="/get-docker/">
        <div class="card" style="background-image: url({{ 'assets/images/card/download-docker.svg' | url }}">
          <div class="card-content">
            <h3>Download and install</h3>
            <p>
              Download and install Docker on your machine in a few easy steps.
            </p>
          </div>
        </div>
      </a>
      <!-- Guides -->
      <a class="card-wrapper" href="/get-started/part1-getting-started/">
        <div class="card" style="background-image: url({{ 'assets/images/card/guides.svg' | url }}">
          <div class="card-content">
            <h3>Guides</h3>
            <p>
              Learn how to set up your Docker environment and start containerizing your applications.
            </p>
          </div>
        </div>
      </a>
      <!-- Language -->
      <a class="card-wrapper" href="/language/">
        <div class="card" style="background-image: url({{ 'assets/images/card/language-guides.svg' | url }}">
          <div class="card-content">
            <h3>Language-specific guides</h3>
            <p>
              Learn how to containerize language-specific applications using Docker.
            </p>
          </div>
        </div>
      </a>
      <!-- Language -->
      <a class="card-wrapper" href="/desktop/">
        <div class="card" style="background-image: url({{ 'assets/images/card/manuals.svg' | url }}">
          <div class="card-content">
            <h3>Product manuals</h3>
            <p>
              Browse through the manuals and learn how to use Docker products.
            </p>
          </div>
        </div>
      </a>
      <!-- Reference -->
      <a class="card-wrapper" href="/reference/">
        <div class="card" style="background-image: url({{ 'assets/images/card/reference.svg' | url }}">
          <div class="card-content">
            <h3>Reference</h3>
            <p>
              Browse through the CLI and API reference documentation.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock %}
