.md-header__button.md-logo img,
.md-header__button.md-logo svg,
.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg {
  width: 100%;
  height: 100%;
}

.md-header__topic span.md-ellipsis {
  display: none;
}

.md-nav--primary .md-nav__title {
  font-size: 0;
  height: 0;
}

.md-header__source {
  display: none;
}

.md-sidebar {
  width: 12.5rem;
}

.md-nav {
  font-size: .6rem;
}

.md-grid {
  max-width: 1720px;
}

.md-typeset__table code {
  word-break: normal;
}
